/* You can add global styles to this file, and also import other style files */
body {
    height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box !important;
}

.p-datatable-table-container {
    overflow: inherit !important;
}

.p-datatable-thead>tr {
    position: sticky !important;
    top: 0 !important;
}

.p-datatable-thead>tr>th {
    background-color: #f5f5f5 !important;
    color: #18181b !important;
}